
<h1 class="title text-center col-sm-11">
	<%= link_to posts_path do %>
			<i class="material-icons md-48 col-sm-1" id="back-arrow">
				&#xE317;
			</i> 
	<% end %>
	Login
</h1>

<div class="form-container col-md-6 col-md-offset-3">

		<%= simple_form_for :login do |f| %>

			<%= f.input :email, placeholder: 'email', input_html: { class: 'input-lg' } %></br>
			
			<%= f.input :password, placeholder: 'password', input_html: { class: 'input-lg' } %></br>

			<%= f.button :submit, id: 'submit-login' %>
		<% end %>

</div>


