

<%= simple_form_for ([@post, @post.comments.build]) do |f| %>

	<%= f.input :name, placeholder: 'name' %></br>
	
	<%= f.input :body, placeholder: 'comment body', input_html: { rows: '2' } %></br>

	<%= f.button :submit, id: 'submit-comment' %>
<% end %>


