

@mixin font-format($size, $family) {
	font-size: $size;
	font-family: $family;
}

@mixin post-tile-theme($color, $color-text-hover, $background-hover) {
	border-color: rgba($color, 0.4);
	background-color: $white;

	&:hover {
		color: $color-text-hover;
		border-color: $background-hover;
		background-color: $background-hover;
	}
}

@mixin button($color, $color-text-hover, $background-hover) {
	color: $color;
	border-color: $color;
	background-color: transparent;
	transition: background-color 0.15s, border-color 0.15s, color 0.15s;

	&:hover {
		color: $white;
		border-color: $background-hover !important;
		background-color: $background-hover !important;
	}
}

