%submit-button {
	border: 2px solid !important;
	border-radius: 0px !important;
	@include button($secondary-color, $secondary-color, $secondary-color);
}


//====== post form =========//

.title {
	color: $primary-color;
}

.form-container {
	background-color: transparent;
	margin-top: 50px;
  margin-bottom: 50px;

  #new_post {
  	

	  #submit-post {
	  	@extend %submit-button;
	  }
	}
}


//===== login form ======//

#submit-login {
	@extend %submit-button;
}


//==== sign up form ====//
#submit-signup {
	@extend %submit-button;
}


//==== comment form ====//
#submit-comment {
	@extend %submit-button;
}