
#sidebar{
	height: 100%;
	background: $primary-color;
	margin-left: 6px;
	padding-left: 0px;
	padding-right: 0px;

	#logo a {
		color: $text;
		&:hover {
			text-decoration: none;
		}
	}

	.category {
		font-weight: bold;
		color: $text;
		text-decoration: underline;
	}

	.nav-item a {
		color: $inactive;
		font-size: $small-font;

		&:hover {
			color: $darker-pink;
			background-color: transparent;
			
		}
	}

	#login-link,
	#logout-link {
		font-weight: bold;
	}
}