	<h1 class="title text-center col-sm-11">
		<%= link_to posts_path do %>
				<i class="material-icons md-48 col-sm-1" id="back-arrow">
					&#xE317;
				</i> 
		<% end %>
		Sign Up
	</h1>

	<div class="form-container col-md-6 col-md-offset-3">
		<%= simple_form_for @user do |f| %>

			<% if @user.errors.any? %>
				<div id="errors">
					<h2><%= pluralize(@user.errors.count, "error") %> prevented this post from saving </h2>
					<ul>
						<% @user.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<%= f.input :email, placeholder: 'email', input_html: { class: 'input-lg' } %></br>
			
			<%= f.input :password, placeholder: 'password', input_html: { class: 'input-lg' } %></br>

			<%= f.input :password_confirmation, placeholder: 'confirm password', input_html: { class: 'input-lg' } %></br>

			<%= f.button :submit, id: 'submit-signup' %>
		<% end %>
	</div>


