
 * {
 		input-webkit-autofill {
 			background-color: transparent;
 			color: $secondary-color !important;
 			-webkit-text-fill-color: $secondary-color !important;
 }

.simple_form {
    padding-top: 150px;
    padding-bottom: 150px;

 		input, textarea  {
  		color: $darker-pink;
  		font-size: $smedium-font;
  	}
}


 }

 .form-control {
 		border: none !important;
 		border-radius: 0px !important;
 		border-bottom: 2px solid $background !important;
  	outline: none;
  	box-shadow: none;
  	background-color: transparent;
  	transition: border 0.7s, background-color 0.7s;

  	&:hover {
  		border-bottom: 2px solid $primary-color !important;
  	}

  	&:focus {
  		border: none;
  		box-shadow: none;
  		background-color: $white;
  		border-bottom: 2px solid $primary-color !important;
  	}
 	}


li > a {
	
	&:hover {
		background-color: transparent !important;
	}

}

body {
	overflow-x: hidden;
}