
$blue: #3F51B5;
$darker-blue: #303F9F;
$lighter-pink: #FF80AB;
$pink: #FF4081;
$darker-pink: #F50057;
$white: #FFFFFF;
$off-white: rgba($white, 0.7);
$light-grey: rgba($white, 0.5);
$dark-grey: #424242;
$plain: rgba($dark-grey, 0.3);

//==================================//

$primary-color: $blue;
$secondary-color: $pink;
$text: $white;
$secondary-text: $off-white;
$inactive: $light-grey;
$background: $plain;