
<%= simple_form_for @post do |f| %>

	<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving </h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.input :title, placeholder: 'title', input_html: { class: 'input-lg' } %></br>
	
	<%= f.input :body, placeholder: 'post body goes here', input_html: { rows: '8' } %></br>

	<%= f.button :submit, id: 'submit-post' %>
<% end %>


