<%= link_to post do %>
	<%= div_for(post, class: "panel panel-default col-md-3 col-sm-6 post-tile") do %>
		<div class="panel-body">
			<h3 class="post-title"><%= post.title %></h3>
			<h5 class="date">
				<%= post.created_at.strftime("%B, %d, %Y") %>
			</h5>
		</div>
	<% end %>
<% end %>

