<h1 id="index-title">Posts</h1>
		
		<%= link_to new_post_path do %>
			<div class="panel panel-default col-md-3 col-sm-6 post-tile" id="add-post">
				<div class="panel-body">
					<h3 class="add-post-text">Add</h3>
					<span class=icon-container>
						<i class="material-icons lg">&#xE145;</i>
						<!-- <i class="material-icons lg">&#xE148;</i> -->
					</span>
					<h3 class="add-post-text">New Post</h3>
				</div>
			</div>
		<% end %>

		<%= render partial: "post", collection: @posts %>