

	<h1 class="title text-center col-sm-11">
	<%= link_to posts_path do %>
			<i class="material-icons md-48 col-sm-1" id="back-arrow">
				&#xE317;
			</i> 
	<% end %>
		New Post
	</h1>

	<div class="form-container col-md-6 col-md-offset-3">
		<%= render 'form' %>
	</div>

	