
<div class="show-post">	

	
	<%= link_to posts_path do %>
			<i class="material-icons md-48 col-md-12 pull-left" id="back-arrow">
				&#xE317;
			</i> 
	<% end %>
		
	<h1 class="title"><%= @post.title %></h1>

	<p class="date">
		Submitted <%= time_ago_in_words(@post.created_at) %> Ago
		| <%= link_to edit_post_path(@post) do %>
				Edit
		  <% end %> |
		  <%= link_to post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } do %>
				Delete
			<% end %>
	</p>

	<article class="body">
		<%= @post.body %>
	</article>

	<div id="divider"></div>

	<div class="col-md-6 col-md-offset-3" id="comments">
		<h3>Add a comment:</h3>
		<%= render "comments/form" %>
		<h3><%= pluralize(@post.comments.count, "Comment") %></h3>
		<%= render @post.comments %>
	</div>
</div>

