
<div class="nav col-sm-2 col-xs-1 affix" id="sidebar">

	<div class="nav hidden-xs" id="logo">
		<%= link_to root_path do %>
			<h1 class="logo-text">M.Childs</h1>
		<% end %>
	</div>

	<ul class="nav hidden-xs" id="menu-section-1">
		<li class="category">Website</li>
		<li class="nav-item"><%= link_to "Blog", root_path %></li>
		<li class="nav-item"><%= link_to "About", about_path %></li>
	</ul>

	<ul class="nav hidden-xs" id="menu-section-2">
		<li class="category">Social</li>
		<li class="nav-item"><a herf="#">Twitter</a></li>
		<li class="nav-item"><a herf="#">Instagram</a></li>
		<li class="nav-item"><a herf="#">Github</a></li>
		<li class="nav-item"><a herf="#">Email</a></li>
	</ul>

	<% if current_user %>
		<ul class="nav hidden-xs" id="admin-logout">
			<li class="nav-item" id="logout-link">
				<%= link_to logout_path do %>
					 <!-- 	<i class="material-icons col-sm-2 logout-icon">&#xE8AC;</i> -->
					Logout
				<% end %>
			</li>
		</ul>
	<% else %>
		<ul class="nav hidden-xs" id="admin-login">
			<li class="nav-item" id="login-link">
				<%= link_to login_path do %>
				 	<!-- <i class="material-icons ">&#xE8D3;</i> -->
				 	Admin Login
				<% end %>
			</li>
		</ul>
	<% end %>

	<!-- tiny only nav-->
  <ul class="nav visible-xs" id="xs-menu">
    	<li class="nav-item"><a href="#featured" class="text-center"><i class="glyphicon glyphicon-list-alt"></i></a></li>
      <li class="nav-item"><a href="#stories" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
    	<li class="nav-item"><a href="#" class="text-center"><i class="glyphicon glyphicon-paperclip"></i></a></li>
      <li class="nav-item"><a href="#" class="text-center"><i class="glyphicon glyphicon-refresh"></i></a></li>
  </ul>

</div>