<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="row text-center" id="primary-container"> 

		<!-- SIDEBAR --> 
	  <div class="row-offcanvas row-offcanvas-left text-center">

	  	<%= render partial: "layouts/sidebar" %>
			
		</div>
		<!-- /SIDEBAR -->


		<!-- MAIN -->
		<div class="col-sm-10 col-xs-11 pull-right" id="main">
		

				<%= yield %>

			
		</div>
		<!-- /MAIN -->

	</div>

</body>
</html>
