// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
%absolute-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%post-tile-props {
	height: $post-tile-height;
  margin-bottom: $post-tile-mg-btm;
	border: $post-tile-border;
	border-radius: $post-tile-border-radius;
	transition: background .7s, color .7s, border .7s;
}


//================= INDEX =======================//
#index-title {
	color: $darker-pink;
}

/* add post button */
#add-post {
	@extend %absolute-center;

  .add-post-text {
  	font-weight: 900;
  }
}

/* post partial */
//Edit variables in modules/variables directory

.post-tile {
	color: $primary-color;
	@extend %post-tile-props;
	@include post-tile-theme($background, $white, $secondary-color);

	.post-title {
		font-weight: 600;
	}
}


//================= SHOW =======================//
#back-arrow {
	color: $background;
	transition: color .15s;

	&:hover {
		color: $primary-color;
	}
}

.show-post {
	margin: 100px 0px;
	padding: 10px;

	article {
		width: 80%;
		margin: 0 auto;
		font-size: $smedium-font;
		padding: 10px;
	}

	#divider {
		width: 80%;
		margin: 25px auto;
		border: 1px solid rgba($background, 0.2);
	}
}


//================ CREATE =====================//





//=========== _POST PARTIAL ==================//


